<%- include ('partials/header', {tituloWeb: '404' }) -%>


    <h1 class="justify-content-center align-items-center">404 - RUTA NO ENCONTRADA</h1>

    <h2 class="justify-content-center align-items-center">Redirigiendo a la pagina de inicio...</h2>

    <script>
        (
            () => {
                setTimeout(() => {
                    window.location.href = `/`
                }, 1500);
            })
            ()
    </script>

    <%- include('partials/footer') %>